.login {
  font-size: 1em;
  text-align: center;
  border-width: 5px;
  border-style: solid;
  border-color: green;
  margin: 150px auto 0px auto;
  width: 300px;
}

.login button {
  margin: 20px;
}
